<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ADVERTISE_UUID</key>
	<string>${ADVERTISE_UUID}</string>
	<key>CHARACTERISTIC_UUID</key>
	<string>${CHARACTERISTIC_UUID}</string>
	<key>SERVICE_UUID</key>
	<string>${SERVICE_UUID}</string>
	<key>ENCRYPTION_SALT</key>
	<string>${ENCRYPTION_SALT}</string>
	<key>MNEMONIC_LOCAL</key>
	<string>${MNEMONIC_LOCAL}</string>
	<key>MNEMONIC_LENGTH</key>
	<string>${MNEMONIC_LENGTH}</string>
	<key>LSUIElement</key>
	<true/>
</dict>
</plist>