<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ADVERTISE_UUID</key>
	<string>${ADVERTISE_UUID}</string>
	<key>CHARACTERISTIC_UUID</key>
	<string>${CHARACTERISTIC_UUID}</string>
	<key>SERVICE_UUID</key>
	<string>${SERVICE_UUID}</string>
	<key>ENCRYPTION_SALT</key>
	<string>${ENCRYPTION_SALT}</string>
</dict>
</plist>
