<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ENCRYPTION_SALT</key>
	<string>${ENCRYPTION_SALT}</string>
	<key>MNEMONIC_LENGTH</key>
	<string>${MNEMONIC_LENGTH}</string>
	<key>MNEMONIC_LOCAL</key>
	<string>${MNEMONIC_LOCAL}</string>
</dict>
</plist>
